/* nnti baca bagian primary,about, contact sama box-purple */
/* kalau ada masalah tambahin class aj. klw tambah class, dy bakal detect kok */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  margin-top: 70px;
}
.header {
  font-weight: bold;
}

.primary {
  background-image: linear-gradient(
    #eb3530,
    #cf3538,
    #b03541,
    #8e344b,
    #7b3451,
    #50335e,
    #3d3363,
    #333366
  );
  min-height: min-content;
  color: white ;
  font-family: Arial, Helvetica, sans-serif;
  /* sini bagian home */
}

.about {
  background-color: #d11c2f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  /* sini bagian about */
}

.card {
  margin: 0 auto;
  padding: 40px;
  flex: auto;
  display: block;
  text-align: center;
}

.contact {
  background-color: #ffffff;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  /* sini ganti bagian contact */
}

.topnav {
  background-color: #333366;
  font-family: "Kievit";
  text-align: center;
  font-size: 17px;
}

.bg-custom {
  background-color: transparent;
  color: white;
}

.img-read {
  width: 75%;
}
.secondary h1 {
  color: rgba(71, 13, 13, 0.815);
  text-shadow: 0px 7.5px 0.05px #dc4848;
  text-align: center;
  margin-top: auto;
}

.col-6 {
  font-size: auto;
}

.marg {
  margin-top: 100px;
}

.col-xl-3 {
  font-size: 15pt;
}

.row {
  margin-top: 25px;
}

.kartu {
  color: red;
  font-weight: bold;
  text-align: center;
}

.card-body {
  display: block;
}

.card-group {
  color: black;
}

.box-purple {
  background-color: #cccccc;
  background-size: cover;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  margin-top: 15%;
  width: 100%;
  /* sini jga bagian kontak, cuman ini yg bagian bawahnya */
}

#content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 20px;
  overflow: hidden;
}

.comment {
  resize: none;
}

.indonesia {
  color: rgb(255, 254, 254);
}

.berterimakasih {
  color: yellow;
}


.stayhome {
  color: yellow;
}

.d-md-block {
  background-color: rgba(0, 0, 0, 0.788);
  color: white;
  text-align: center;
}

.carousel-item img {
  height: 500px;
}

@media (max-width: 576px) {
  .carousel-item img {
    height: 300px;
  }
  
  .d-md-block {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
    text-align: center;
  }
  .d-md-block h5{
    font-size: smaller;
  }

  .d-md-block p{
    font-size: xx-small;
  }

  .d-md-block a{
    font-size: xx-small;
  }

 }