html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  margin-top: 80px;
}

.primary {
  background-image: linear-gradient( #eb3530, #cf3538, #b03541,#8e344b,#7b3451,#50335e,#3d3363,#333366);
  height: 3000px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.contact{
  background-color: #eb3530;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}

.topnav {
  background-color: #333366;
  font-family: "Kievit";
  text-align: center;
  font-size: 17px;
  padding: 12px;
}

.secondary h1 {
  color: rgba(71, 13, 13, 0.815);
  text-shadow: 0px 7.5px 0.05px #dc4848;
  text-align: center;
  margin-top: auto;
}

.col-6 {
  font-size: auto;
}

.col-xl-3 {
  font-size: 15pt;
}

.row {
  margin-top: 25px;
}
.jumbotron-fluid{
  padding: 100px;
  background-image: url(../img/top.jpg);
  width: 100%;
  height: 416px;
  background-size: cover;
  color: white;
}

.container{
  opacity: 100%;
}
.card-group{
  color: black;
}

.box-purple{
  background-color:#642b75 ;
  padding: 20px;
  color: white;
  width: 100%;
  height: 100%;
  margin-top: 15%;
}