/* kalau ada masalah tambahin class aj. klw tambah class, dy bakal detect kok */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  font-weight: bold;
}

.card {
  margin: 0 auto;
  padding: 40px;
  flex: auto;
  display: block;
  text-align: center;
}

.contact, .about {
  margin-top: 80px;
}

.navbar-brand {
  font-family: "Kievit";
  font-size: 24px;
}

.topnav {
  background-color: #333366;
  font-family: "Kievit";
  text-align: center;
  font-size: 18px;
}

.bg-transparent {
  background-color: transparent;
}

.img-read {
  width: 75%;
}

.secondary h1 {
  color: rgba(71, 13, 13, 0.815);
  text-shadow: 0px 7.5px 0.05px #dc4848;
  text-align: center;
  margin-top: auto;
}

.col-6 {
  font-size: auto;
}

.marg {
  margin-top: 100px;
}

.col-xl-3 {
  font-size: 15pt;
}

.row {
  margin-top: 25px;
}

.kartu {
  color: red;
  font-weight: bold;
  text-align: center;
}

.card-body {
  display: block;
}

.card-group {
  color: black;
}

.box-purple {
  background-color: #cccccc;
  background-size: cover;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  margin-top: 15%;
  width: 100%;
}

#content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 20px;
  overflow: hidden;
}

.comment {
  resize: none;
}


.berterimakasih {
  color: rgb(255, 0, 0);
}

.stayhome {
  color: rgb(255, 0, 0);
}

.d-md-block {
  background-color: rgba(0, 0, 0, 0.788);
  color: white;
  text-align: center;
}

.carousel-item img {
  height: 500px;
}

@media (max-width: 576px) {
  .carousel-item img {
    height: 250px;
  }

  .d-md-block {
    height: 175px;
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
    text-align: center;
  }
  .d-md-block h5 {
    font-size: xx-small;
  }

  .d-md-block p {
    font-size: xx-small;
  }

  .d-md-block a {
    font-size: xx-small;
  }
}
