html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  margin-top: 70px;
}

.primary {
  background-image: linear-gradient(#eb3530, #cf3538, #b03541, #8e344b, #7b3451, #50335e, #3d3363, #333366);
  height: 3000px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.contact {
  background-color: #eb3530;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}

.topnav {
  background-color: #333366;
  font-family: "Kievit";
  text-align: center;
  font-size: 17px;
  padding: 12px;
}

.secondary h1 {
  color: rgba(71, 13, 13, 0.815);
  text-shadow: 0px 7.5px 0.05px #dc4848;
  text-align: center;
  margin-top: auto;
}

.col-6 {
  font-size: auto;
}

.col-xl-3 {
  font-size: 15pt;
}

.row {
  margin-top: 25px;
}

.bg-cover {
  background-image: url(../img/top.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.card-group {
  color: black;
}

.box-purple {
  background-color: #642b75;
  background-size: cover;
  padding: 20px;
  color: white;
  width: fit-content;
  height: fit-content;
  margin-top: 15%;
  width: 100%;
}

#content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 20px;
  overflow: hidden;
}

.form-control .comment{
  height: 400px;
}